# Build output
bin/
obj/
dist/

# dotnet tools (if switching to local tool manifest later)
.config/

# Rider / VS
.idea/
.vs/
*.user

# EF Core local db artifacts
*.db
*.db-shm
*.db-wal

assets/
catalog/